<!DOCTYPE html>
<html lang="en">
<head>
  <base href="https://c4-nexus-project.vercel.app/">
</head>
<body>
    <div class="grid">

        <!-- HEADER -->

        <header>
            <div class="header-container">

                <div class="inner-container">
                    <h1>
                        <a href="../html_pages/Watches.html?category=watches">Exquisitz</a>
                    </h1>
                </div>

                <nav>
                    <ul class="nav-menu">
                        <li>
                            <a href="../html_pages/Pants.html?category=pants">Pants</a>
                        </li>
                        <li>
                            <a href="../html_pages/Tops.html?category=tops">Tops</a>
                        </li>
                        <li>
                            <a href="../html_pages/Ties.html?category=ties">Ties</a>
                        </li>
                        <li>
                            <a href="../html_pages/Shoes.html?category=shoes">Shoes</a>
                        </li>
                        <li>
                            <a href="../html_pages/Belts.html?category=belts">Belts</a>
                        </li>
                        <li>
                            <a href="../html_pages/Shirts.html?category=shirts">Shirts</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>

        <!-- FILTERS -->

        <div class="filters-container">
            <div class="filter-section" id="PriceRange">
                <div class="filter-header">
                    <button>Price (lv)</button>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>

                <div class="filter-body">
                    <div class="inner-filter-container">
                        <div>
                            <label for="from-price">From</label>
                            <br>
                            <input type="number" class="price-input" id="from-price" value="0" />
                        </div>

                        <i class="fa-solid fa-minus"></i>

                        <div>
                            <label for="to-price">To</label>
                            <br>
                            <input type="number" class="price-input" id="to-price" value="10000" />
                        </div>
                    </div>
                    <div class="slider-container">
                        <div class="slider">
                            <div class="progress">

                            </div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="10000" value="0">
                            <input type="range" class="range-max" min="0" max="10000" value="10000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-section" id="Brand">
                <div class="filter-header">
                    <button>Brand</button>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>

                <div class="filter-body">

                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="LeGucce" name="check" value="" />
                            <label for="LeGucce">
                                <span></span>
                                <text>LeGucce</text>
                                <text>(1)</text>
                            </label>
                        </div>
                    </div>

                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="brand-2" name="check" value="" />
                            <label for="brand-2">
                                <span></span>
                                <text>Brand 2</text>
                                <text>(12)</text>
                            </label>
                        </div>
                    </div>

                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="brand-3" name="check" value="" />
                            <label for="brand-3">
                                <span></span>
                                <text>Brand 3</text>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-section" id="Color">
                <div class="filter-header">
                    <button>Color</button>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>

                <div class="filter-body">
                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="#FF0000" name="check" value="" />
                            <label for="#FF0000">
                                <span></span>
                                <i class="fa-solid fa-circle"></i>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="#964B00" name="check" value="" />
                            <label for="#964B00">
                                <span></span>
                                <i class="fa-solid fa-circle" style="color:#964B00;"></i>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="#775f46" name="check" value="" />
                            <label for="#775f46">
                                <span></span>
                                <i class="fa-solid fa-circle" style="color:#775f46;"></i>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="#8ce01d" name="check" value="" />
                            <label for="#8ce01d">
                                <span></span>
                                <i class="fa-solid fa-circle" style="color:#8ce01d;"></i>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="#4712c5" name="check" value="" />
                            <label for="#4712c5">
                                <span></span>
                                <i class="fa-solid fa-circle" style="color:#4712c5;"></i>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="#1ecf94" name="check" value="" />
                            <label for="#1ecf94">
                                <span></span>
                                <i class="fa-solid fa-circle" style="color:#1ecf94;"></i>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="#b436b4" name="check" value="" />
                            <label for="#b436b4">
                                <span></span>
                                <i class="fa-solid fa-circle" style="color:#b436b4;"></i>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                    <div class="inner-filter-container">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="#6f8063" name="check" value="" />
                            <label for="#6f8063">
                                <span></span>
                                <i class="fa-solid fa-circle" style="color:#6f8063;"></i>
                                <text>(1200)</text>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button onclick="loadData()">Apply filters</button>
        </div>

        <!-- CATEGORY CONTAINER -->

        <div class="category-container"></div>

        <div class="mix-button">
            <button>Sorting and Filtering</button>
        </div>

        <div class="menu">

        </div>
        <!-- SORTING OPTIONS -->

        <div class="sort-container">

            <div class="sorting-options">
                <div class="sort-option" onclick="sortByName(false)">
                    <span>Name</span>
                    <i class="fa-solid fa-arrow-up-a-z"></i>
                </div>
                <div class="sort-option" onclick="sortByName(true)">
                    <span>Name</span>
                    <i class="fa-solid fa-arrow-up-z-a"></i>
                </div>
                <div class="sort-option" onclick="sortByPrice(false)">
                    <span>Price</span>
                    <i class="fa-solid fa-arrow-up-1-9"></i>
                </div>
                <div class="sort-option" onclick="sortByPrice(true)">
                    <span>Price</span>
                    <i class="fa-solid fa-arrow-up-9-1"></i>
                </div>
            </div>

            <div id="sorting-button">
                <img src="../images/sorting.png" />
            </div>

        </div>

        <!-- MAIN CONTENT -->

        <main>
            <ul class="products-grid">

            </ul>
            <div class="load-more-container">
                <button id="load-more" onclick="loadData()">Load more</button>
            </div>
        </main>



        <!-- FOOTER -->

        <footer>

            <div class="footer-container">
                <h4>About us</h4>
                <ul>
                    <li>
                        <a href="#">Privacy&Policy</a>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps?q=42.69132963370241, 23.32763329427908"
                            target="_blank">Location</a>
                    </li>
                </ul>
            </div>

            <div class="footer-container">
                <h4>Contacts</h4>
                <ul>
                    <li>
                        <a href="tel:+359896856444">+359 896 856 444</a>
                    </li>
                    <li>
                        <a href="mailto:mariohristov227@gmail.com">mariohristov227@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="footer-container">
                <h4>Connect with us</h4>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/mario-hristov-1512b0281/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/MarioHristov">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        <!-- SCRIPTS -->


    </div>
</body>

</html>
